{% extends 'career/baseauth.html' %}

{% block content %}
    
  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to CareerSite </h1>
      <p class="lead">Hello <b>{{ username }}</b>! Your user type is <b>{{ user_type }}</b>! Your user ID is <b>{{ user_id }}</b>!</p>
      <hr class="my-4">
      <p>Feel free to explore and ask whatever you want to learn</p>
      <a class="btn btn-outline-primary" href="/post-list" role="button">Learn more</a>
    </div>
  </div>

{% endblock %}